@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

pre,
code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

pre {
  padding: 0.5rem;
  line-height: 1.25;
  overflow-x: scroll;
}

a,
a:visited {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #ff0000;
  text-decoration: none;
}

.modest-no-decoration {
  text-decoration: none;
}

html {
  font-size: 12px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 16px;
  }
}

body {
  line-height: 1.85;
  font-size: 1em;
}

p,
.modest-p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

h1,
.modest-h1,
h2,
.modest-h2,
h3,
.modest-h3,
h4,
.modest-h4 {
  margin: 1.414rem 0 0.5rem;
  line-height: 1.42;
}

h1,
.modest-h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

small,
.modest-small {
  font-size: 0.707em;
}

/* https://github.com/mrmrs/fluidity */

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

@import url(http://fonts.googleapis.com/css?family=Manrope:200);
html {
  max-width: 100%;
}

body {
  color: #444;
  font-family: "Manrope", sans-serif;
  margin: 0 auto;
  max-width: 48rem;
  line-height: 1.45;
  padding: 0.25rem;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
}

h1 {
  font-weight: 100;
  font-size: 3.5rem;
  text-transform: lowercase;
}

h2,
h3 {
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
  text-transform: uppercase;
}

blockquote {
  background: #f5f5f5;
  margin: 0;
  padding: 20px;
}

pre,
code {
  background-color: #fafafa;
}

.list_li {
  display: list-item;
  list-style-type: none; 
} 

.list_ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
}

.title_ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.link_li {
  justify-items: flex-start;
}

.date_li {
  justify-items: flex-end;
}

.tags_li {
  font-size: 70%;
  margin-left: auto;
}

.posts {
  list-style-type: none;
  padding: 0;
}

.pnav {
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.pnav_left {
  justify-items: flex-start;
  text-align: left;
  padding: 0;
  margin: 0;
}

.pnav_right {
  justify-items: flex-end;
  text-align: right;
  padding: 0;
  margin: 0;
}

input[type="checkbox"].toggle {
  display: none;
}

input[type="checkbox"] {
  display: inline-block;
  align-items: baseline;
}

.wrap-collabsible {
  margin: 0;
}

.lbl-toggle {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: left;
  cursor: pointer;
}

.lbl-toggle::before {
  content: " ";
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);
  transition: transform 0.2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100%;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  padding: 0;
}

.collapsible-content p {
  margin-bottom: 0;
}

#filter-bar {
  width: 100%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-bottom: 2px;
  background-color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  display: block;
  margin-bottom: 10px;
  outline-style: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

footer {
  width: 100vw;
  height: 2px;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
}

#footer__progress_bar {
  height: 2px;
  background: black;
  width: 0%;
}
